

/* ==================================== BOUTON AJOUTER-TEXTE ==================================== */

.dropdown {
    position: relative; /* Ensure dropdown is positioned to use z-index */ 
  }

  .dropdown-menu {
    background-color: rgb(253, 231, 231);
}

.dropdown-submenu {
    position: relative;
   }

.dropdown-item.dropdown-toggle {
    display: flex;
    align-items: center;
    justify-content: start; /* align text to the start */
    padding-left: 1rem; /* or any appropriate value to create indentation */
}

.dropdown-submenu .dropdown-menu {
top: 0;
left: 100%;
margin-top: -6px;
margin-left: -1px;
border-radius: 0 0.25rem 0.25rem 0;

}

.dropdown-submenu:hover .dropdown-menu {
display: block;
}

.dropdown-item:hover {
    background-color: lightsalmon;
    color: #fff;
  }


/* ==================================== BOUTON CODE COULEUR (OFFCANVAS) ==================================== */

.offcanvas-header {
    border-bottom: 1px solid #ccc; /* You can adjust the color and thickness as needed */
}

.offcanvas-body {
    overflow-y: auto;
}

.text-justify {
    text-align: justify;
}

/* ==================================== BOUTONS +/- ==================================== */


.custom-btn-size {
    width: 50px; /* Set the width as per your requirement */
}





/* ==================================== CARDS ==================================== */


.card {
    border-radius: 5px;
    height: 88vh;
}


.list-group.list-group-flush {
    overflow-y: auto;
}


.hover-effect {
    background-color: #fa2b2b; /* Hover effect */
  }

.list-group-item.Vert.hover-effect {
    background-color: #20865c;
}

